<div class="container">

  <!-- TABLA PRODUCTOS -->

  <table>

    <thead>
      <tr>
        <th>Imagen</th>
        <th>Nombre</th>
        <th>Marca</th>
        <th>Precio</th>
        <th>Stock</th>
      </tr>
    </thead>

    <tbody>

      <tr *ngFor="let product of products">

        <td><img [src]="product.image"[alt]="product.name"class="product-img"></td>

        <td>
          {{product.name}}
        </td>

        <td>
          {{product.make}}
        </td>

        <td class="price">
          {{product.price |currency}}
        </td>

        <td class="stock"><span *ngIf="product.stock==0">sin stock</span>
          {{product.stock}}
        </td>

        <td>
          <button class="btn-cart">
            Agregar
          </button>
        </td>

      </tr>

    </tbody>

  </table>
</div>