<div class="container">

  <!-- TABLA PRODUCTOS -->

  <table>

    <thead>
      <tr>
        <th>Imagen</th>
        <th>Nombre</th>
        <th>Marca</th>
        <th>Precio</th>
        <th>Stock</th>
      </tr>
    </thead>

    <tbody>

      <tr>

        <td><img [src]="product.image"[alt]="product.name"class="product-img"></td>

        <td>
          {{product.name}}
        </td>

        <td>
          {{product.make}}
        </td>

        <td class="price">
          ${{product.price}}
        </td>

        <td class="stock">
          {{product.stock}}
        </td>

        <td>
          <button class="btn-cart">
            Agregar
          </button>
        </td>

      </tr>

    </tbody>

  </table>


  <!-- CARRITO -->

  <div class="cart-container">

    <h2 class="cart-title">
      Carrito
    </h2>

    <div class="cart-item">

      <div class="cart-info">

        <img
          [src]="product.image"
          [alt]="product.name"
          class="cart-img"
        >

        <div>

          <div class="cart-name">
            {{product.name}}
          </div>

          <div class="cart-price">
            ${{product.price}}
          </div>

        </div>

      </div>


      <div class="cart-buttons">

        <button class="cart-btn btn-minus">
          -
        </button>

        <span class="cart-quantity">
          1
        </span>

        <button class="cart-btn btn-plus">
          +
        </button>

      </div>

    </div>


    <div class="cart-total">

      <span class="total-text">
        Total:
      </span>

      <span class="total-price">
        $1500
      </span>

    </div>


    <button class="checkout-btn">
      Finalizar compra
    </button>

  </div>

</div>