<div class="products-layout">

  <div class="products-header">

    <div>
      <h1 class="page-title">Productos destacados</h1>
      <p class="page-subtitle">
        Encontrá los mejores dispositivos tecnológicos
      </p>
    </div>

    <input
      class="search-box"
      type="text"
      placeholder="🔍 Buscar producto..."
    >

  </div>

  <table>

    <thead>
      <tr>
        <th>Imagen</th>
        <th>Nombre</th>
        <th>Marca</th>
        <th>Precio</th>
        <th>Stock</th>
        <th>Cantidad</th>
      </tr>
    </thead>

    <tbody>

      <tr *ngFor="let product of products">

        <td>
          <img
            [src]="product.image"
            [alt]="product.name"
            class="product-img">
        </td>

        <td>
          {{ product.name }}
        </td>

        <td>
          {{ product.make }}
        </td>

        <td class="price">
          {{ product.price | currency }}
        </td>

        <td class="stock">

          <span *ngIf="product.stock > 0">
            {{ product.stock }}
          </span>

          <span
            *ngIf="product.stock === 0"
            class="out-stock">
            Sin stock
          </span>

        </td>

        <td>
          <div class="buy-container">

          <app-input-integer
            [quantity]="product.quantity"
            [stock]="product.stock"
            (quantityChange)="product.quantity = $event">
          </app-input-integer>

                     <button
                         class="add-btn"
                          [disabled]="product.stock === 0 || product.quantity === 0">
                         🛒 Agregar
                      </button>

          </div>
          
        </td>

      </tr>

    </tbody>

  </table>

</div>