:host {
  display: block;
  position: relative;
  z-index: 9999;
}

.cart-wrapper {
  position: relative;
  z-index: 9999;
}

.cart-btn {
  width: 55px;
  height: 55px;
  border: none;
  border-radius: 50%;
  background: linear-gradient(135deg, #06b6d4, #2563eb);
  color: white;
  font-size: 24px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: transform .2s ease;
}

.cart-btn:hover {
  transform: scale(1.05);
}

.cart-dropdown {
  position: absolute;
  top: 70px;
  right: 0;
  width: 320px;
  max-height: 420px;
  overflow-y: auto;

  background: #111827;
  border: 1px solid #334155;
  border-radius: 12px;
  padding: 12px;

  color: white;

  z-index: 99999;
  box-shadow: 0 10px 30px rgba(0, 0, 0, .45);
}

.cart-item {
  display: grid;
  grid-template-columns: 55px 1fr 35px;
  gap: 12px;
  align-items: center;

  padding: 12px 0;
  border-bottom: 1px solid #334155;
}

.cart-item:last-child {
  border-bottom: none;
}

.cart-img {
  width: 55px;
  height: 55px;
  object-fit: contain;
  border-radius: 8px;
  background: white;
  padding: 4px;
}

.cart-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.cart-info strong {
  font-size: 15px;
}

.cart-info span {
  font-size: 13px;
  color: #cbd5e1;
}

.remove-btn {
  width: 30px;
  height: 30px;

  border: none;
  border-radius: 50%;

  background: #ef4444;
  color: white;

  font-weight: bold;
  cursor: pointer;

  transition: .2s;
}

.remove-btn:hover {
  background: #dc2626;
}

.empty-cart {
  text-align: center;
  color: #94a3b8;
  padding: 20px 0;
}
.cart-total {
  margin-top: 15px;
  text-align: right;
  font-size: 18px;
  font-weight: bold;
  color: #22c55e;
}